.recipe {
  display: flex;
  flex-direction: column;
  max-width: 23.4375rem;
  background-color: var(--white);
  color: var(--stone-600);
  padding: var(--spacing-500) var(--spacing-400);
  gap: var(--spacing-400);
  margin-inline: auto;
}

.recipe-image {
  display: block;
  min-width: 23.4375rem;
  margin-inline: -2rem;
  margin-top: -2.5rem;
}

.recipe-header h1 {
  color: var(--stone-900);
}

.recipe-header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  margin-top: var(--spacing-100);
}

.recipe-preparation {
  background-color: var(--rose-50);
  border-radius: var(--spacing-150);
  padding: var(--spacing-300);
}

.recipe h2 {
  color: var(--brown-800);
}

.recipe-preparation h2 {
  color: var(--rose-800);
  margin-bottom: var(--spacing-200);
}

.recipe-preparation .preparation-list {
  padding-left: 1.25rem;
}

.preparation-list li {
  padding-left: 1rem;
}

.preparation-list li:not(:last-child) {
  padding-bottom: var(--spacing-100);
}

.preparation-list li::marker {
  color: var(--rose-800);
  font-size: var(--spacing-150);
}

.recipe-ingredients h2 {
  margin-bottom: var(--spacing-300);
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  padding-left: var(--spacing-300);
}

.ingredients-list li {
  padding-left: var(--spacing-200);
}

.ingredients-list li::marker {
  color: var(--brown-800);
  font-size: var(--spacing-150);
}

hr {
  border-color: var(--stone-150);
}

.recipe-instructions h2 {
  margin-bottom: var(--spacing-300);
}

.instructions-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  padding-left: var(--spacing-300);
}

.instructions-list li {
  padding-left: var(--spacing-200);
}

.instructions-list li::marker {
  color: var(--brown-800);
  font-weight: bold;
}

.recipe-nutrition {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition-table tr:not(:last-child) {
  border-bottom: 1px solid var(--stone-150);
}

.nutrition-table td:first-child {
  padding-left: 2rem;
}

.nutrition-table td:nth-child(2) {
  color: var(--brown-800);
  font-weight: bold;
  padding-right: 1rem;
}

.nutrition-table tr:not(:last-child) td {
  padding-bottom: 0.7rem;
}

.nutrition-table tr:not(:first-child) td {
  padding-top: 0.7rem;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .recipe {
    margin-block: var(--spacing-1600);
    border-radius: var(--spacing-300);
    max-width: 38.5rem;
    padding: var(--spacing-500);
  }

  .recipe-image {
    margin: 0;
    border-radius: var(--spacing-300);
    min-height: 18.75rem;
  }

  .recipe h1 {
    font-size: var(--text-preset-1-font-size);
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .recipe {
    max-width: 46rem;
  }
}
