.text-preset-1 {
  font-family: var(--font-family-young-serif-regular);
  font-size: var(--text-preset-1-mobile-font-size);
  font-weight: var(--text-preset-1-font-weight);
  line-height: var(--text-preset-1-line-height);
  letter-spacing: var(--text-preset-1-letter-spacing);
}

.text-preset-2 {
  font-family: var(--font-family-young-serif-regular);
  font-size: var(--text-preset-2-font-size);
  font-weight: var(--text-preset-2-font-weight);
  line-height: var(--text-preset-2-line-height);
  letter-spacing: var(--text-preset-2-letter-spacing);
}

.text-preset-3 {
  font-family: var(--font-family-outfit);
  font-size: var(--text-preset-3-font-size);
  font-weight: var(--text-preset-3-font-weight);
  line-height: var(--text-preset-3-line-height);
  letter-spacing: var(--text-preset-3-letter-spacing);
}

.text-preset-4 {
  font-family: var(--font-family-outfit);
  font-size: var(--text-preset-4-font-size);
  font-weight: var(--text-preset-4-font-weight);
  line-height: var(--text-preset-4-line-height);
  letter-spacing: var(--text-preset-4-letter-spacing);
}

.text-preset-4-bold {
  font-family: var(--font-family-outfit);
  font-size: var(--text-preset-4-bold-font-size);
  font-weight: var(--text-preset-4-bold-font-weight);
  line-height: var(--text-preset-4-bold-line-height);
  letter-spacing: var(--text-preset-4-bold-letter-spacing);
}
